@model ProductListViewModel

@foreach (var pie in @Model.Products)
{
    <h3>@pie.Name</h3>
    <div>
        <p>@pie.ProductId</p>
        <p>@pie.Description</p>
        <p>@pie.Price.ToString("c")</p>
    </div>
}
